extends ../layout

block content
  .page-header
    h3.center Stream
  - for(var x = 0; x < user.stream.length; x++)
    .group-section
      p= user.stream[x].friend
      p= user.stream[x].amount
      p= user.stream[x].message
