extends layout

block content
  h1.center Balance
  p.lead A management system to keep track of debt between friends.
  hr
  .row
    .col-sm-6
      h2.center Debt Management
      p For the times when you or a friend are short in change, or forgot a card. Balance allows you to make a note of what is owed in your group of friends.
      p
        a.btn.btn-default(href='#', role='button') Learn More »
